---

- name: Get pgdg key
  apt_key:
    data: "{{ lookup('file', 'pgapt-key.ACCC4CF8.asc') }}"
    id: ACCC4CF8
    state: present

- name: Setup pgdg repository
  apt_repository:
    repo: 'deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_lsb.codename }}-pgdg main'
    filename: 'pgdg'
    update_cache: true

- name: Install generally useful packages
  package:
    name:
      - tree
      - vim
      - less
      - screen
      - htop
      - ssl-cert
      - net-tools
    state: present

- name: Install postgresql-common
  package:
    name: postgresql-common
    state: present

- name: Disable auto creation of PostgreSQL clusters
  lineinfile:
    dest: "/etc/postgresql-common/createcluster.conf"
    line: "create_main_cluster = false" 
    regexp: ".*create_main_cluster.*"
  tags:
    - config

- name: Install PostgreSQL Server
  package:
    name:
      - "postgresql-{{ postgresql_major_version }}"
      - "postgresql-contrib-{{ postgresql_major_version }}"
      - "postgresql-client-{{ postgresql_major_version }}"
    state: present

- name: Copy pgpass from template
  template:
    src: templates/postgres_pgpass
    dest: /var/lib/postgresql/.pgpass
    mode: 0600
    owner: "postgres"
    group: "postgres"
